/* top menu */
.top {
	max-width: 960px;
	margin: 0 auto;
}

header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.logo img {
	height: 35px;
}

nav a {
	font-size: 1.1em;
	text-decoration: none;
	color: #3b4205;
	padding: 0 10px;
	margin-right: 20px;
}

nav a:last-child {
	margin-right: 0;
}

nav a:hover {
	color: red;
}
/* Section 1 */
.introduction {
	max-width: 960px;
	margin: 0 auto;
}
.promo_text {
	height: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.matrioska img {
	height: 550px;
}
.soon {
	color: red;
}
.other {
	font-size: 70px;
}
.sign {
	border: 3px solid;
	border-image: linear-gradient(to right, red, green) 1;
	color: black;
	background-color: white;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	padding: 18px;
}
/* section 2 */
/* strigau su isdestymu vienu po kitu teksto */
.fancy {
	max-width: 960px;
	margin: 0 auto;
}
.early {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	padding: 0 10px;
	background-image: linear-gradient(
		to top right,
		rgba(211, 28, 98, 0.747),
		green
	);
	padding: 100px;
}
.mickey {
	font-size: 35px;
}
/* section 3 */
.logo_menu {
	max-width: 960px;
	margin: 0 auto;
}
.logos {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
/* section 4 */
/* nebaigta, bet laikas spaudzia */
.auction {
	max-width: 960px;
	margin: 0 auto;
}
.limited {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.nft {
	height: 250px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 10px;
}
.purple {
	margin: 5px;
}
.yellow {
	margin: 5px;
}
.green {
	margin: 5px;
}
.red {
	margin: 5px;
}
/* section 5 */
hr.solid {
	border-top: 3px solid #bbb;
}
